<!DOCTYPE html>
<!--Code by Divinector - divinectorweb.com-->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friends Accepted Page</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script:wght@700&family=Great+Vibes&family=Permanent+Marker&family=Redressed&family=Sacramento&family=Satisfy&display=swap");
    </style>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <div class="container">
        <h2 class="log app-name">Wallygram</h2>
        <div class="search-bar">
          <i class="uil uil-search"></i>
          <input
            type="search"
            placeholder="Search for your friends, inspirations and influencers"
          />
        </div>
        <div class="home" a href="/feed">
          <i class="uil uil-house-user"></i>
        </div>
        <div class="friends" a href="location.href='/friendsAccepted">
          <i class="uil uil-heart"></i>
        </div>
        <div class="Profile" a href="/profile">
          <i class="uil uil-user"></i>
        </div>
        <div class="Profile-picture">
          <img src="/images/PP1.jpg" />
        </div>
      </div>
    </nav>
    <main>
      <div class="container">
        <table>
          <tr>
            <td>
              <div class="requested">
                <button
                  id="requested_button"
                  class="button2"
                  type="button"
                  onclick="location.href='/friendsRequested'"
                >
                  REQUESTED
                </button>
              </div>
            </td>
            <td>
              <div class="accepted">
                <button
                  id="accepted_button"
                  style="background-color: pink"
                  class="button2"
                  type="button"
                  onclick="location.href='/friendsAccepted'"
                >
                  ACCEPTED
                </button>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="my-posts">
        <% for (var i =0; i < friend.length; i++ ) { %>
        <div class="single-post">
          <section class="crd">
            <div class="inner_div">
              <img src="/images/red_badge.jpg" class="badge-in-post" />
              <div class="inner_text">
                <img src="/images/man3.jpg" class="post-image" />
                <h3 class="post-name">
                  <i><%= friend[i].friends_username %></i>
                </h3>
              </div>
            </div>
            <div class="inner_button">
              <button
                class="btn btn-outline-danger"
                onclick="location.href='/removeFriend?id=<%= friend[i].friends_username %>'"
              >
                Remove
              </button>
            </div>
          </section>
        </div>
        <% } %>
      </div>
    </main>
    <div class="animation-area">
      <ul class="box-area">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </body>
</html>
