<!DOCTYPE html>
<html>
    <body>
        <h1>KAHA TIME BARBAAD KARNA CHAHOGE?</h1>
        <% userinfo.forEach((person, index) => { %>
            <%= person.Username %>
        <% }) %>
    </body>
</html>