<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/index.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Calligraffitti"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="name">
        <h1>Wallygram</h1>
      </div>
    </div>
    <div class="login">
      <div class="student">
        <div>
          <p><b>LogIn</b></p>
        </div>
        <div>
          <a href="/loginviaimg"
            ><img id="redlog" src="../images/redlog.png"
          /></a>
        </div>
      </div>
      <div class="admin">
        <p><b>Register</b></p>
        <div>
          <a href="/registerviaimg"
            ><img id="bluelog" src="../images/bluelog.png"
          /></a>
        </div>
      </div>
    </div>
  </body>
</html>
