<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Calligraffitti"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="name">
        <h1>Wallygram</h1>
      </div>
    </div>
    <div class="logsign">
      <div class="login">
        <div>
          <p><b>LogIn</b></p>
        </div>
        <div>
          <a href="/loginviaimg"
            ><img id="redlog" src="/images/login.png" class ="logimg"
          /></a>
        </div>
      </div>
      <div class="register">
        <p><b>Register</b></p>
        <div>
          <a href="/registerviaimg"
            ><img id="bluelog" src="/images/register.png" class="logimg"
          /></a>
        </div>
      </div>
    </div>
  </body>
</html>
